@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.hero-section {
  background: linear-gradient(to right, #fff, #f7f6fd);
}

/* Gradient Decorations */
/* .top-gradient-img {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 160px;
  z-index: 1;
}

.purple-gradient-img {
  position: absolute;
  bottom: 90px;
  left: 90px;
  width: 150px;
  z-index: 1;
} */

/* Underline after TIME */
.inline-underline {
  width: 160px;
  height: 18px;
  background: linear-gradient(to right, #7b2ff7, #f107a3);
  border-radius: 10px;
  margin-left: 65px;
  position: relative;
  top: -8px;
}

/* Carousel indicators */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.carousel-indicators .active {
  background-color: #7b2ff7;
}

/* Responsive */
@media (max-width: 768px) {
  .top-gradient-img {
    width: 100px;
    top: -10px;
    left: -20px;
  }

  .purple-gradient-img {
    width: 100px;
    bottom: 100px;
    left: 40px;
  }

  .inline-underline {
    width: 80px;
    height: 10px;
    margin-left: 12px;
    top: 6px;
  }
}


.about-us-section {
  position: relative;
}

.about-us-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(138, 71, 246, 0.1);
  z-index: -1;
}


/* Portfolio Section */
.text-purple {
  color: #8f50ff;
}

.tab-btn {
  border: none;
  background: none;
  font-weight: 500;
  padding: 0.4rem 1rem;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tab-btn.active {
  color: #8f50ff;
  text-decoration: underline;
}

/* Portfolio Grid */
.portfolio__content .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}

.portfolio__content .row .column {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.portfolio__content .row .column img {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  object-fit: cover;
}

.portfolio__content .row .column.vertical {
  grid-column: span 1;
  grid-row: span 2;
}

.portfolio__content .row .column.horizontal {
  grid-column: span 2;
  grid-row: span 1;
}

@media (max-width: 768px) {
  .portfolio__content .row .column.vertical,
  .portfolio__content .row .column.horizontal {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}